<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengyuan.greens.dao.TGoodstypeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fengyuan.greens.entity.TGoodstype">
		<id column="id" property="id" />
		<result column="typename" property="typename" />
		<result column="typeflag" property="typeflag" />
	</resultMap>
	<select id="selectAll"  resultMap="BaseResultMap">
		select * from t_goodstype

	</select>
</mapper>
